* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#offline {
  position: relative;
  height: 100vh;
}

#offline .offline {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offline {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.offline .offline-page {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.offline .offline-page h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offline .offline-page h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
	.offline .offline-page {
	max-width: 470px;
	width: 100%;
  }
  .offline .offline-page h1 {
    font-size: 168px;
  }
}

@media only screen and (max-width: 480px) {
  .offline .offline-page {
	max-width: 230px;
	width: 100%;
    height: 148px;
    margin: 0px auto 10px;
  }
  .offline .offline-page h1 {
    font-size: 86px;
  }
  .offline .offline-page h2 {
    font-size: 16px;
  }
}
